@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.highscore {

    &__title {
        margin-top: 0;

        @include tablet {
            margin-bottom: 1.75rem;
        }
    }

    &__text {
        text-decoration: underline;
        text-transform: uppercase;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__enter {
        display: flex;
        width: 100%;
    }

    &__label {
        text-align: left;
        font-size: 0.75rem;
        margin-top: 0.5rem;

        @include tablet {
            font-size: 1rem;
            margin-top: 0.75rem;
        }
    }


    &__input {
        margin: 0.5rem 0;
        padding: 0.5rem;
        outline: none;
        border: none;
        font-family: $font-stack;

        @include tablet {
            width: 75%;
        }
    }

    &__input--invalid {
        border: 2px solid $color-turtle;
    }

    &__button {
        margin: 0.5rem 0;
        padding: 0.5rem;
        border: none;
        text-transform: uppercase;
        background-color: $color-turtle;
        font-size: 0.75rem;
        width: 100%;

        @include tablet {
            width: 25%;
            font-size: 1rem;
        }
    }

    &__instruction {
        color: $color-text;
    }

}