@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.leaderboard {
    margin: 0 1.5rem;
    margin-bottom: 43.19px;

    @include tablet {
        margin-bottom: 39px;
    }

    &__container {
        width: 17rem;
        height: 17rem;
        border-radius: 6px;
        margin: 0 auto;
        background-color: $color-text;
        color: $color-bg;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        @include tablet {
            width: 34rem;
            height: 34rem;
        }
    }

    &__row {
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        border-bottom: 2px solid $color-bg;
    }

    &__row--titles {
        background-color: $color-card;
        color: $color-bg;
        text-transform: uppercase;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    &__row--data {
        font-size: 0.8rem;

        @include tablet {
            font-size: 1rem;
        }
    }

    &__rank {
        flex-basis: 20%;
    }

    &__score {
        flex-basis: 20%;
    }

    &__name {
        flex-basis: 60%;
    }

    &__heading {
        border-right: none;
    }

}