$font-stack: 'Karla';


//regular
@font-face {
    font-family: $font-stack;
    src: url("../../assets/fonts/Karla-Regular.woff2") format("woff2"),
        url("../../assets/fonts/Karla-Regular.woff") format("woff"),
        url("../../assets/fonts/Karla-Regular.ttf") format("truetype");
    font-weight: 400;
}

//bold
@font-face {
    font-family: $font-stack;
    src: url("../../assets/fonts/Karla-Bold.woff2") format("woff2"),
        url("../../assets/fonts/Karla-Bold.woff") format("woff"),
        url("../../assets/fonts/Karla-Bold.ttf") format("truetype");
    font-weight: 700;
}