@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-bg;
    height: 100%;

    &__board {
        position: relative;
        width: 17rem;
        height: 17rem;
        margin: 0 auto;
        display: flex;
        border-radius: 6px;
        background-color: $color-water;
        background: linear-gradient(135deg, $color-card, $color-water, $color-bg);
        background-size: 150% 150%;

        @include tablet {
            height: 34rem;
            width: 34rem;
        }

        @include desktop {
            height: 51rem;
            width: 51rem;
        }
    }

    &__board--waves {
        background: repeating-linear-gradient(-45deg, $color-water, $color-bg, $color-water, $color-card, $color-water, $color-bg);
        background-size: 350% 350%;
        animation: gradient 20s ease-in-out infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    &__piece {
        height: 1rem;
        width: 1rem;
        background-repeat: no-repeat;
        position: absolute;

        @include tablet {
            height: 2rem;
            width: 2rem;
        }

        @include desktop {
            height: 3rem;
            width: 3rem;
        }
    }


    &__panel {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.8rem;
        color: $color-text;
        width: 100%;
        margin: auto 0;

        @include tablet {
            align-items: center;
            margin: 0.625rem 0 0.625rem 0;
            height: 23px;
        }

        @include desktop {
            margin: 1rem 0;
        }
    }

    &__score {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__score--colon {
        padding: 0 0.25rem;
    }

    &__score--hidden {
        visibility: hidden;
        height: 43.19px;

        @include tablet {
            margin: 0.25rem 0 1rem 0;
            height: 23px;
        }
    }

    &__score--text {
        text-transform: uppercase;

        @include tablet {
            margin: 0
        }
    }

    &__score--number {

        @include tablet {
            margin: 0
        }
    }

    &__image {
        width: 1.25rem;
        height: 1.25rem;

        @include desktop {
            height: 1.75rem;
            width: 1.75rem;
        }
    }


    &__toggle {
        padding-left: 1rem;
        cursor: pointer;
    }

    &__toggle--wrap {
        display: flex;
        align-items: center;
    }

    &__toggle--text {
        margin-left: 0.25rem;

        @include tablet {
            margin-left: 1rem;
        }

        @include desktop {
            font-size: 1.25rem;
        }
    }
}