@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-bg;
    height: 100%;

    &__board {
        position: relative;
        width: 17rem;
        height: 17rem;
        margin: 0 auto;
        display: flex;
        border-radius: 6px;
        background-color: $color-water;
        background: linear-gradient(135deg, $color-card, $color-water, $color-bg);
        background-size: 150% 150%;

        @include tablet {
            height: 34rem;
            width: 34rem;
        }
    }

    &__board--waves {
        background: repeating-linear-gradient(-45deg, $color-water, $color-bg, $color-water, $color-card, $color-water, $color-bg);
        background-size: 350% 350%;
        animation: gradient 20s ease-in-out infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    &__piece {
        height: 1rem;
        width: 1rem;
        background-repeat: no-repeat;
        position: absolute;

        @include tablet {
            height: 2rem;
            width: 2rem;
        }
    }

    &__trash {
        animation: 2s infinite ease trashSway;
        // transform: rotate(90deg);
    }

    @keyframes trashSway {
        // 0% {
        //     // transform: rotate(0deg);
        //     transform: translateX(0);
        //     transform: translateY(0);
        //     // rotate: (0deg);
        // }

        // 25% {
        //     // transform: rotate(10deg) // 
        //     transform: translateX(-0.1rem);
        //     transform: translateY(-0.1rem);
        // }

        // 50% {
        //     // transform: rotate(0deg) // 
        //     transform: translateX(0rem);
        //     transform: translateY(0rem);
        // }

        // 75% {
        //     // transform: rotate(-10deg) // 
        //     transform: translateX(0.1rem);
        //     transform: translateY(-0.1rem);
        // }

        // 100% {
        //     // transform: rotate(0deg);
        //     transform: translateX(0);
        //     transform: translateY(0); // rotate: (0deg);

        // }

        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(20deg);
        }

        // to {
        //     transform: rotate(0deg);
        // }

        // to {
        //     transform: rotate(-90deg);
        // }

        // to {
        //     transform: rotate(0deg);
        // }
    }

    &__jellyfish {
        animation: 3s infinite ease jellyfishSway;
    }

    @keyframes jellyfishSway {
        0% {
            transform: translateX(0)
        }

        25% {
            transform: translateX(0.1rem)
        }

        50% {
            transform: translateX(0);
        }

        75% {
            transform: translate(-0.1rem);
        }

        100% {
            transform: translate(0)
        }
    }

    &__panel {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.8rem;
        color: $color-text;
        width: 100%;
        margin: auto 0;

        @include tablet {
            align-items: center;
            margin: 0.625rem 0 0.625rem 0;
            height: 23px;
        }
    }

    &__score {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__score--colon {
        padding: 0 0.25rem;
    }

    &__score--hidden {
        visibility: hidden;
        height: 43.19px;

        @include tablet {
            margin: 0.25rem 0 1rem 0;
            height: 23px;
        }
    }

    &__score--text {
        text-transform: uppercase;

        @include tablet {
            margin: 0
        }
    }

    &__score--number {

        @include tablet {
            margin: 0
        }
    }

    &__image {
        width: 1.25rem;
        height: 1.25rem;
    }


    &__toggle {
        padding-left: 1rem;
        cursor: pointer;
    }

    &__toggle--wrap {
        display: flex;
        align-items: center;
    }

    &__toggle--text {
        margin-left: 0.25rem;

        @include tablet {
            margin-left: 1rem;
        }
    }
}