@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.gamestart {

    width: 17rem;
    height: 17rem;
    padding: 0.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-card;
    border-radius: 6px;
    // background: repeating-linear-gradient(-45deg, $color-bg, $color-water, $color-card, $color-text);
    // background-size: 350% 350%;
    // animation: gradient 20s ease-in-out infinite;

    @include tablet {
        text-align: center;
        width: 34rem;
        height: 34rem;
    }

    // @keyframes gradient {
    //     0% {
    //         background-position: 0% 50%;
    //     }

    //     50% {
    //         background-position: 100% 50%;
    //     }

    //     100% {
    //         background-position: 0% 50%;
    //     }
    // }


    &__title {
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__icon {
        height: 1rem;
        width: 1rem;
        border-radius: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 0.5rem;


        @include tablet {
            width: 2rem;
            height: 2rem;
            margin-right: 0.75rem;
        }
    }

    &__icon--jellyfish1 {
        background-image: url('../../assets/images/Jellyfish1.png');
    }

    &__icon--jellyfish2 {
        background-image: url('../../assets/images/Jellyfish2.png');
    }

    &__icon--jellyfish3 {
        background-image: url('../../assets/images/Jellyfish3.png');
    }

    &__icon--jellyfish4 {
        background-image: url('../../assets/images/Jellyfish4.png');
    }

    &__icon--bag {
        background-image: url('../../assets/images/Bag.png');
    }

    &__icon--bottle {
        background-image: url('../../assets/images/Bottle.png');
    }

    &__icon--rings {
        background-image: url('../../assets/images/PackRings.png');
        transform: rotate(70deg);
        background-size: contain;
        background-position: center;
    }

    &__icon--cup {
        background-image: url('../../assets/images/Cup.png');
    }

    &__play {
        color: $color-text;
        text-align: center;
    }
}