@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.gamepause {
    width: 17rem;
    height: 17rem;
    padding: 0.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-card;
    border-radius: 6px;

    @include tablet {
        width: 34rem;
        height: 34rem;
    }

    @include desktop {
        height: 51rem;
        width: 51rem;
    }
}