@use '../../styles/partials/colors' as *;

.gamepause {
    width: 17rem;
    height: 17rem;
    padding: 0.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-card;
    border: 1px solid $color-text;
    color: $color-text;

}